exportClasses(methylBase)
exportClasses(methylRaw)
exportClasses(methylRawList)
exportMethods(PCASamples)
exportMethods(clusterSamples)
exportMethods(getAssembly)
exportMethods(getCorrelation)
exportMethods(getCoverageStats)
exportMethods(getData)
exportMethods(getMethylationStats)
exportMethods(read)
exportMethods(unite)
