import(methods)

import(GenomicRanges)
#import(KernSmooth)
import(qvalue)
import(emdbook)
#import(RHmm)
import(limma)

#importMethodsFrom("GenomicRanges",elementMetadata,countOverlaps,findOverlaps, seqnames, seqlengths, strand,"strand<-")

#importClassesFrom("GenomicRanges",GRanges,GRangesList)


importMethodsFrom("GenomeInfoDb",  seqnames, seqlengths )


importClassesFrom("IRanges", RangedData, RangedDataList,RangedSelection)

importFrom("IRanges",   IRanges, RangedDataList, RangedData,
                  RangesList,  findOverlaps, RangedSelection,ranges,countOverlaps)


importFrom("S4Vectors", DataFrame, Rle,levels, elementMetadata,"elementMetadata<-")
importClassesFrom("S4Vectors",   DataTable,
                  Annotated, Vector, List, DataTableORNULL, characterORNULL,
                  SimpleList, DataFrame)


importMethodsFrom("IRanges",nearest,as.data.frame)
#importFrom("qvalue",qvalue)



#import( data.table)
importFrom("data.table",data.table,setnames, setcolorder,as.data.table,
           tables, setkey, setkeyv, key, "key<-", haskey, CJ, SJ, copy)


importFrom("parallel", mclapply)

#exportClasses(HMMFitClass)
exportClasses(annotationByFeature)
exportClasses(annotationByGenicParts)
exportClasses(methylBase)
exportClasses(methylDiff)
exportClasses(methylRaw)
exportClasses(methylRawList)
exportMethods(adjust.methylC)
exportMethods(PCASamples)
exportMethods(annotate.WithFeature)
exportMethods(annotate.WithFeature.Flank)
exportMethods(annotate.WithGenicParts)
exportMethods(bedgraph)
exportMethods(calculateDiffMeth)
exportMethods(clusterSamples)
exportMethods(diffMethPerChr)
#exportMethods(fast.fisher.test)
exportMethods(filterByCoverage)
exportMethods(get.methylDiff)
exportMethods(getAssembly)
exportMethods(getAssociationWithTSS)
exportMethods(getContext)
exportMethods(getCorrelation)
exportMethods(getCoverageStats)
exportMethods(getData)
exportMethods(getFeatsWithTargetsStats)
exportMethods(getFlanks)
exportMethods(getMembers)
exportMethods(getMethylationStats)
exportMethods(getTargetAnnotationStats)
exportMethods(normalizeCoverage)
exportMethods(percMethylation)
exportMethods(plotTargetAnnotation)
exportMethods(pool)
exportMethods(read)
exportMethods(read.bed)
exportMethods(read.bismark)
exportMethods(read.feature.flank)
exportMethods(read.transcript.features)
exportMethods(regionCounts)
exportMethods(reorganize)
exportMethods(select)
exportMethods(tileMethylCounts)
exportMethods(unite)
exportMethods(updateMethObject)
export(dataSim)
export(updateMethObject)
export(reconstruct)
export(removeComp)
export(assocComp)
exportMethods(calculateDiffMethDSS)